*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header{
    section{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 12%;
        button{
            height: 50px;
            width: 180px;
            background-color: #FFFFFF;
            border: solid 5px #581D74;
            font-size: medium;
            
        }

    }

    menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #581D74;
        height: 95px;
        width: full;
        a{
            color:#FFFFFF;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 20px;
            text-decoration: none;
        }
    }
}

main{
    margin: 100px 15%;
    div{
        img{
            height: 300px;
            display: flex;
            margin: 0 auto;
        }
    }
    section{
        div{
            img{
                height: 100px;
            }
            
        }
        .btn_window{
            position: fixed;
            right :3px;
            top:150px;

            img{
                height: 80px;
                width: 80px;
            }
        }

        .window{
            display: none;
            height: 200px;
            width: 200px;
            background-color: lightblue;
        }
    }

    .text{
        display: flex;
    }
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding: 10px;

    div{
        display: flex;
    }
}