*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header{
    section{
        display:flex;
        justify-content: space-between;
    }

    menu{
        display: flex;
        justify-content: space-around;
    }
}

main{
    margin: 100px 15%;

    div{
        img{
            height: 300px;
            display: flex;
            margin: 0 auto;
        }
    }

    section{
        div{
            img{
                height: 100px;
            }
        }

        .btn_window{
            position: fixed;
            right :3px;
            top:150px;

            img{
                height: 80px;
                width: 80px;
            }
        }

        .window{
            display: none;
            height: 200px;
            width: 200px;
            background-color: lightblue;
        }
    }

    .text{
        display: flex;
        flex-direction: row;
        width: 100%;

        .left{
            width: 33%;
        }

        .right{
            width: 66%;
        }
    }
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding: 10px;

    div{
        display: flex;
    }
}